@{
    ViewData["Title"] = "Tasks List Manager";
}
<div class="text-center">
    <h1 class="display-4">Tasks List Manager</h1>
    <img src="~/img/matrix.png" />
    <br />
    <div>
        <a asp-controller="Home" asp-action="AddEdit">Add Tasks Here</a>
    </div>
    <div>
        <a asp-controller="Home" asp-action="Quadrants">View Task Quadrants</a>
    </div>
</div>
